.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  height: 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
a{
  text-decoration: none;
}
.menu {
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    list-style: none;
}
.logo h2 {
  margin-left: 2rem;
  font-size: 2.5rem;
  font-weight: 400;
  background: -webkit-linear-gradient(#eee, rgb(69, 57, 248));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo h2 span {
  font-size: 3.5rem;
}

.menu_item{
  list-style: none;
  padding: 2.5rem;
  font-size: 25px;
  cursor: pointer;
  color: #3500D3;
  transition: 0.5s;
  
}

ul li a{
    text-transform: capitalize;
  color: #3500D3;
  transition: 0.5s;
}

ul li:hover>a {
  transform-origin: left;
  color: #5CDB95;
  transition: 0.5s;
}
